.handle {
  background: hsla(0,0%,8%,.5);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  cursor: pointer;
  
  &.prev {
    left: 0px;
    border-top-right-radius: 0.2vw;
    border-bottom-right-radius: 0.2vw;
  }
  &.next {
    right: 0px;
    border-top-left-radius: 0.2vw;
    border-bottom-left-radius: 0.2vw;
  }
}

.handle:hover {
  background: hsla(0,0%,8%,.7);
  color: #fff;
}

.handle > svg {
  height: 2vw;
}