.slider {
  position: relative;
}

.sliderContent {
  display: flex;
  position: relative;
  padding: 0 60px;
}

.sliderImage {
  margin: 0 0.15rem;
  border-radius: 0.2vw;
  max-width: 16.35897%;
  flex: 0 0 16.35897%;
  aspect-ratio: 16 / 9;
}